.container {
	margin: auto;
	flex-direction: column;
	background-color: #ffffff;
	padding: 2rem;
	padding-top: 1rem;
	box-shadow: 0 5px 20px #00000055;
	border-radius: 5px;
}

.brand, .error {
	text-align: center;
	margin-bottom: .75rem;
}

.label {
	margin: .25rem;
}

.input {
	margin: .25rem 0;
	padding: .5rem;
	border: 1px solid #000000;
}

.loginButton {
	background-color: #67aeda;
	cursor: pointer;
	margin: 0;
	margin-top: .5rem;
	padding: .75rem;
	color: black;
	transition: 300ms;
}

.loginButton:hover {
	background-color: #67aedaDD;
}
