.container {
	margin: auto;
}

.profile {
	background-color: white;
	height: 2.3rem;
	width: 2.3rem;
	border-radius: 10px;
	margin: auto .4rem;
	cursor: pointer;
	border: 1px solid white;
}

.anchor {
	display: flex;
}

.item {
	padding: .6rem;
	color: #000000;
	background-color: #ffffff;
	margin: .4rem;
	border-radius: 10px;
	transition: 300ms;
	cursor: pointer;
	font-size: 1rem;
	font-family: 'Times New Roman', Times, serif
}

.item:hover {
	background-color: #ffffffbb;
}
